{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
{{ super() }}
<div class="container">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.name }}{% else %}Stranger{% endif %}!</h1>
    <div>
        {% if current_user.can(Permission.WRITE_ARTICLES) %}
        {{ wtf.quick_form(form) }}
        {% endif %}
    </div>
</div>
<hr>
<div class="post-tabs container">
    <ul class="nav nav-tabs post-tab-list">
        <li{% if not show_followed %} class="active" {% endif %}>
            <a href="{{ url_for('.show_all') }}">All</a>
            </li>
            {% if current_user.is_authenticated %}
            <li{% if show_followed %} class="active" {% endif %}>
                <a href="{{ url_for('.show_followed') }}">Followers</a>
                </li>
                {% endif %}
    </ul>
    {% include '_post.html' %}
</div>
{% import "_macros.html" as macros %}
<div class="pagination-wrapper">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>

{% endblock %}