div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    padding: 4px;
}
.posts {
    list-style: none;
}

.post {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    position: relative;
}

.post:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.post .post-content {
    margin: 0 10px;
}

.post .profile-thumbnail {
    display: flex;
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
}

.pagination {
    display: block;
}

.button-group {
    position: absolute;
    right: 0;
    bottom: 0;
}

.post-tab-list {
    margin-bottom: 20px;
}